body{
    background-size: cover;
}

#note{
    background-color: yellow;
    margin: 0;
    font-family: 'Lobster', cursive;
    letter-spacing: 1px;
}

#heading{
    background-color: yellow;
    margin: 0;
    font-family: 'Tapestry', cursive;
    letter-spacing: 2px;
}

label{
    font-size: 25px;
    background-color: lightblue;
    width: 100%;
}
canvas{
    border-radius: 10px;
    border-color: yellow;
    box-shadow: 10px 10px 10px lawngreen;
}
#status_model{
    color: red;
    font-weight: bold;
    background-color: blue;
}
#status_whether{
    color: lawngreen;
    background-color:darkorange;
    font-weight: bold;

}

#object_status{
    width: 30%;
}